.portal-banner {
    margin-bottom: 1em;
    position: relative;
}

.portal-banner {
    float: left;
    position: relative;
}

.portal-banner .bannerImage {
    max-width:100%;
    position: relative;
    display:block;
    margin:0 auto;
}

.portal-banner .bannerImage img {
    max-width:100% !important;
    height:auto;
    display:block;
}

.portal-banner .bannerText {
    bottom: 0.5em;
    position: absolute;
}

.portal-banner .bannerTitle {
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: inline-block;
    font-size: 140%;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.portal-banner .bannerDescription {
    color: #FFFFFF;
    display: block;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding-left: 20px;
    text-shadow: 0 0 30px #000000;
}

.portal-banner .bannerBody {
    color: #FFFFFF;
    display: block;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 10px;
    padding: 0 20px;
    text-shadow: 0 0 30px #000000;
}

.portal-banner .bannerLink a,
.portal-banner .bannerLink a:visited {
	border: none !important;
    padding-left:20px;
	text-decoration: underline !important;
}

.portal-banner .bannerLink a:hover { text-decoration: none !important; }

