.banner_container {
    background-color: #ddd;
    margin-bottom: 1em;
}

.banner_inner_container {
    display: table-row;
}

.banner_image_container {
    float: left;
}

.banner_image_container img {
    height: auto;
}

.banner_content_container {
    float: left;
    padding: 1em;
}
