#portal-slider {
    margin-bottom: 1em;
}

#portal-slider.scrollable {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	}

#portal-slider.scrollable .items {
	width: 20000em;
	position: absolute;
	}

#portal-slider .items .banner {
    float: left;
    margin-bottom: 1em;
    }

