#slider {
    margin-bottom: 1em;
}

.scrollable {
	position: relative;
	overflow: hidden;
	width: 695px;
	height: 200px;
	}

.scrollable .items {
	width: 20000em;
	position: absolute;
	}

.items .banner {
    float: left;
    margin-bottom: 1em;
    }

.banner {
	width: 695px;
	height: 200px;
	}

.bannerImage {
    position: absolute;
}

.bannerImage img {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.bannerText-black,
.bannerText-white,
.bannerText-blue,
.bannerText-darkgrey,
.bannerText-lightgrey {
	position: relative;
	padding: 1em;
	}

.bannerTitle {
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 0.5em;
	}

.bannerDescription {
	font-weight: bold;
	width: 425px;
	margin-bottom: 0.5em;
	}

.bannerText-black,
.bannerText-black a { color: #000 !important; }

.bannerText-white,
.bannerText-white a { color: #fff !important; }

.bannerText-blue,
.bannerText-blue a { color: #205C90 !important; }

.bannerText-darkgrey,
.bannerText-darkgrey a { color: #666 !important; }

.bannerText-lightgrey,
.bannerText-lightgrey a { color: #ddd !important; }

.bannerLink a,
.bannerLink a:visited {
	border: none !important;
	text-decoration: underline !important;
	}

.bannerLink a:hover { text-decoration: none !important; }